.venv
backend/__pycache__/
backend/.venv
backend/app/.env
backend/app/__pycache__/
backend/app/database/__pycache__/
frontend/node_modules/
backend/app/tests/__init__.py
backend/app/tests/__pycache__/
