
.etu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

table {
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

/* ENREGISTREMENT */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;
  min-height: 100vh;
}

.champ {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.champ input{
  padding: 0.5rem;
  max-width: 80%;
  min-width: 500px;
  background-color: #ddd;
  outline: none;
  border: 5px solid #355e36;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}


.champ input::placeholder {
  font-size: 1.1rem;
}




.btn {
  padding: 1rem ;
  background-color: #1c71d8;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  min-width: 500px;
  font-size: 1.1rem;
  
}

.btn:hover{
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: end;
}